<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODO List</title>
</head>
<body>
    <form action="post">
        <label for="Item Name">Item Name:</label>
        <input type="text" id="Item Name" name="Item Name" required>
        <label for="Item Description">Item Description:</label>
        <input type="text" id="Item Description" name="Item Description" required>
        <label for="Item Id">Item Id:</label>
        <input type="text" id="Item Id" name="Item Id" required>
        <button type="submit">Add Item</button>
    </form>
</body>
</html>